<!DOCTYPE html>
<!-- 
CAD - Caden, Aditya, Danny
SoftDev
K17 - Style-layer - Exploring CSS
2024 - 10 - 16
time: 1 hr
-->
<html lang="en">
  <head>
    <title>CAD</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
      <h1> h1 foo</h1>
      <div id="left">
        <b id="r1">
          nav foo
        </b>
        </br>
        <b id="r2">
          dis </br>
          dat </br>
          de udda ting
        </b>
      </div>
      <div id="right">
        <h2>main foo heading</h2>
        <p id="para1" class="para">
          Bacon ipsum dolor amet alcatra pork frankfurter beef ribs tri-tip venison t-bone rump shankle. Cow tail meatball meatloaf landjaeger doner rump short ribs chuck corned beef beef ribs capicola beef tenderloin leberkas. Swine strip steak shank, tri-tip prosciutto leberkas landjaeger shoulder pork tongue flank pork chop. Pork loin venison porchetta pork jerky flank, drumstick sirloin tail tongue shankle beef ribs shank prosciutto turducken. Frankfurter t-bone andouille, bresaola tail rump pastrami
        </p>
        <p class="para">
          Tri-tip andouille bacon swine drumstick sausage, venison hamburger short ribs. Corned beef pork rump spare ribs. Prosciutto pancetta fatback meatloaf buffalo chislic cupim, tri-tip bresaola pork loin. Pork chop turducken ham doner corned beef turkey. Ribeye chislic filet mignon tenderloin cow. Landjaeger capicola flank beef, filet mignon pork beef ribs.
        </p>
      </div>
  </body>
</html>
