<!-- 
Aditya, Yinwei, Caden
CAY
Softdev
K13 - Combine - Creating a table with occupations and links
2024-09-30
Time spent: 1.2
-->

<!DOCTYPE html>
<html>

  <head>
    <title> {{ title }} </title>
  </head>

  <body>
    <table>
        <tr>
            <th>Job Percentage</th>
            <th>Occupation</th>
            <th>Links</th>
        </tr>
        {% for i in range(len(occupations[0])) %}
            <tr>
            {% for j in range(len(occupations)) %}
                <td>
                    {{ }}
                </td>
             {% endfor %}
            </tr>
        {% endfor %}
    </table>
  </body>
</html>
